---
import moviePop from "../../assets/images/moviepop.webp";
import technoTrade from "../../assets/images/technoTrade.webp";
import videoGames from "../../assets/images/videoGames.webp";
import instajram from "../../assets/images/instajram.webp";
import tucumida from "../../assets/images/tucumida.webp";
import agroAccion from "../../assets/images/AgroAccion.webp";

import Swipper from "../react/swiper";

export var arrayProyectos = [
    {
        name: "AgroAccion",
        img: agroAccion,
        link: null,
        description: "Desarrollo freelance de una aplicación web para la empresa AgroAcción. Se automatizó el proceso de generar cotizaciones en PDF y llevar un registro de las mismas.",
        largeDescription: "Desarrollo freelance de una aplicación web para la empresa AgroAcción. Se automatizó el proceso de generar cotizaciones en PDF y llevar un registro de las mismas. Anteriormente debian rellenar un PDF de manera manual y llevar un registro por separado de las cotizaciones. Hoy en dia tienen un sistema automático lo cual, al hacerles la tarea más simple, les ahorra mucho tiempo."
    },
    {
        name: "Tucumida",
        img: tucumida,
        link: "https://next-tucumida-kappa.vercel.app/",
        description: "Desarrollo de una aplicación de restaurantes en Tucumán, Argentina. Diseñada para practicar SSR y SEO en Next.js.",
        largeDescription: "Desarrollo de una aplicación de restaurantes en Tucumán, Argentina. Diseñada para practicar SSR y SEO en Next.js. Cada restaurante puede crearse una cuenta y agregar su restaurante para que los usuarios puedan acceder a su información (Ubicación, Números telefonicos, Redes sociales)"
    },
    {
        name: "Red Social",
        img: instajram,
        link: "https://instajram.vercel.app/",
        description: "Desarrollo individual de una red social, incluyendo un sistema de chat en tiempo real.",
        largeDescription: "Desarrollo individual de una red social, incluyendo un sistema de chat en tiempo real. Fue desarrollado uncicamente con el proposito de aprender como funciona un sitema de seguir/ser seguido en una red social. Más adelante tambien agregué un sistema de chat con sus respectivas noticaciones con el proposito de aprender Socket IO / Web Sockets"
    },
    {
        name: "MoviePop",
        img: moviePop,
        link: "https://moviepop-three.vercel.app/",
        description: "Desarrollo de una aplicación de serie de televisión como prueba técnica para una entrevista de trabajo.",
        largeDescription: "Desarrollo de una aplicación de serie de televisión como prueba técnica para una entrevista de trabajo. Los usuario no registrados pueden buscar una serie de televisión y ver información de la misma (Descripción, Año de estreno, etc.). Aquellos usuarios registrados, además, pueden agregar series a su lista de favoritos"
    },
    {
        name: "Techno Trade",
        img: technoTrade,
        link: "https://front-wheat-gamma.vercel.app/",
        description: "Desarrollo grupal de un e-commerce de productos tecnológicos durante el bootcamp Soy Henry.",
        largeDescription: "Desarrollo grupal de un e-commerce de productos tecnológicos durante el bootcamp Soy Henry. Orientada tanto al usuario como al administrador. Como usuario puedo realizar compras, dejar reseñas de los productos, etc. Como administrador puedo cargar nuevos productos con su respectivo stock, ver los pedidos realizados, los usuarios, etc."
    },
    {
        name: "Videogames",
        img: videoGames,
        link: "https://pi-videogames-lake.vercel.app/",
        description: "Desarrollo individual de una aplicación de videojuegos durante el bootcamp Soy Henry",
        largeDescription: "Desarrollo individual de una aplicación de videojuegos durante el bootcamp Soy Henry. Los usuarios pueden buscar, filtrar y ver la información de sus videojuegos favoritos. Tambien, en caso de no encontrar el videojuego que buscan, agregarlos a la base de datos llenando un formulario"
    }  
]

---

<section class="mt-28 mb-10" id="proyects">
  <h3 class="text-4xl mb-8 pl-3 font-bold">Proyectos</h3>
  <div>
    <Swipper client:load slideArray={arrayProyectos.map((item) => item)}>
        {arrayProyectos.map((item, index) => (
            <div class="w-[90%] max-w-[1208px] relative flex-shrink-0"> 
              <img
                transition:name={`${item.name}-img`}
                src={item.img.src}
                class="aspect-[1919/950] w-full h-full object-cover"
                alt={item.name}
              />
              <div class='backdrop-blur-sm py-8 px-3 md:px-4 flex flex-col gap-4 absolute top-0 right-0 w-[60%] h-full bg-[#000000b8] text-white z-10'>
                  {/* <h2 transition:name={`${item.name}-title`} class='flex intems-center gap-3 flex-wrap text-3xl md:font-semibold'>
                    {item.name}
                    <a class="text-base underline text-blue-500 flex gap-1 items-center hover:opacity-60" href={`/${item.name}`}>
                    <span>Ver detalles</span>
                    <VisitSite class="size-5"/>
                    </a>
                    </h2> */}
                    <a transition:name={`${item.name}-title`} href={`/${item.name}`} class="underline z-30 hover:text-orange-500 text-3xl md:font-semibold">{item.name}</a>
                  <p transition:name={`${item.name}-desc`} class='md:text-lg'>{item.description}</p>
                  
              </div> 
            </div>
          ))}
    </Swipper>
  </div>
  <!-- <div class="mt-8 flex flex-col gap-5 items-start">
      {
          arrayProyectos.map((e,i) => {
              return (
                  <div class="gap-2 flex flex-col items-center flex-1 min-w-[300px]  hover:opacity-50">
                      <a class="w-full bg-gray-100 rounded-[8px]" style={{border:"solid 1px gray"}} href={`/${e.name}`}><img transition:name={`${e.name}-img`} class="h-[300px] object-scale-down mx-auto" src={e.img.src} alt={e.name} /></a>
                      <h4 class="text-lg font-bold">{e.name}</h4>
                  </div>
              )
          })
      }
      <div class="flex-1 min-w-[300px]"></div>
  </div> -->
</section>